<div class="card p-4">
  <h3>Agregar</h3>
  <form [formGroup]="formulario" (ngSubmit)="guardar()">

    <!-- Sección Origen -->
    <h5>Origen</h5>
    <div formGroupName="origen" class="row g-3">
      <div class="col-md-6">
        <label>Calle:</label>
        <input formControlName="Calle_o" class="form-control" />
      </div>

      <div class="col-md-6">
        <label>Colonia:</label>
        <input formControlName="Colonia_o" class="form-control" />
      </div>

      <div class="col-md-3">
        <label>Número Exterior:</label>
        <input formControlName="Numero_exterior_o" class="form-control" />
      </div>

      <div class="col-md-3">
        <label>Número Interior:</label>
        <input formControlName="Numero_interior_o" class="form-control" />
      </div>

      <div class="col-md-4">
        <label>País:</label>
        <select formControlName="PaisID_o" class="form-select">
          <option value="">Seleccione país</option>
          <option *ngFor="let p of paises" [value]="p.paisID">{{p.nombre}}</option>
        </select>
      </div>

      <div class="col-md-4">
        <label>Estado:</label>
        <select formControlName="EstadoID_o" class="form-select">
          <option *ngFor="let e of estados" [value]="e.estadoID">{{e.nombre}}</option>
        </select>
      </div>

      <div class="col-md-4">
        <label>Municipio:</label>
        <select formControlName="MunicipioID_o" class="form-select">
        <option *ngFor="let m of municipios" [value]="m.municipioID">{{m.nombre}}</option>
        </select>
      </div>
    </div>

    <!-- Sección Destino -->
    <h5 class="mt-4">Destino</h5>
    <div formGroupName="destino" class="row g-3">
      <div class="col-md-6">
        <label>Calle destino:</label>
        <input formControlName="Calle_d" class="form-control" />
      </div>

      <div class="col-md-6">
        <label>Colonia destino:</label>
        <input formControlName="Colonia_d" class="form-control" />
      </div>

      <div class="col-md-3">
        <label>Número Exterior destino:</label>
        <input formControlName="Numero_exterior_d" class="form-control" />
      </div>

      <div class="col-md-3">
        <label>Número Interior destino:</label>
        <input formControlName="Numero_interior_d" class="form-control" />
      </div>

      <div class="col-md-4">
        <label>País destino:</label>
        <select formControlName="PaisID_d" class="form-select">
          <option value="">Seleccione país</option>
          <option *ngFor="let p of paises" [value]="p.paisID">{{p.nombre}}</option>
        </select>
      </div>

      <div class="col-md-4">
        <label>Estado destino:</label>
        <select formControlName="EstadoID_d" class="form-select">
        <option *ngFor="let e of estadosDestino" [value]="e.estadoID">{{e.nombre}}</option>
        </select>
      </div>

      <div class="col-md-4">
        <label>Municipio destino:</label>
        <select formControlName="MunicipioID_d" class="form-select">
        <option *ngFor="let m of municipiosDestino" [value]="m.municipioID">{{m.nombre}}</option>
        </select>
      </div>
    </div>

    <!-- Sección Operador y Fechas -->
    <h5 class="mt-4">Operador y Fechas</h5>
    <div formGroupName="operadorYFechas" class="row g-3">

      <div class="col-md-4">
        <label>Operador:</label>
        <select formControlName="OperadorID" class="form-select">
          <option value="">Seleccione operador</option>
          <option *ngFor="let op of operadores" [value]="op.operadorID">{{op.nombre_completo}}</option>
        </select>
      </div>

      <div class="col-md-4">
        <label>Fecha de inicio:</label>
        <input type="datetime-local" formControlName="Fecha_inicio" class="form-control" />
      </div>

      <div class="col-md-4">
        <label>Fecha de fin:</label>
        <input type="datetime-local" formControlName="Fecha_fin" class="form-control" />
      </div>

    </div>
    <div class="d-flex gap-2 mt-4">
  <button type="submit" class="btn btn-success">Guardar</button>
  <button type="button" class="btn btn-secondary" (click)="cancelar()">Cancelar</button>
</div>
  </form>
</div>